.timer {
    position: relative;
    /* width: 101px;
    height: 110px; */
    border-radius: 4px;
    width: fit-content;
    /* height: fit-content; */
    height: 38px;
    left: 50%;
    margin-left: -333px;
    top: 92px;
}
#timer01 {
    display: flex;
    align-self: center;
    background-color: #eeee33;
    font-size: xx-large;
    justify-content: center;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.input-div {
    width: fit-content;
    top: 110px;
    left: 50%;
    margin-left: -182px;
    background-color: silver;
    position: relative;
    font-size: larger;
    display: none;
}
.button-div {
    display: flex;
    /* align-self: center; */
    justify-content: space-around;
}
button {
    height: 47px;
    width: 200px;
}
.timer-div {
    text-align: center;
}